.container{
    
    background-color: bisque;
    height: 40vh;
    text-align: center;
    
}
body{
    background-color: lemonchiffon;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
   
}
.form{
    margin-top: 10px;
    text-align: center;
    
}
